::before,
*::after {
  box-sizing: border-box;
}
:root {
  --brun: #514944;
  --lyspink: #efd3e3;
  --lemon: #fffabd;
  --mint: #d6edeb;
  --lysbrun: #7c716b;
  --bg: #f2e9e6;
  --sky: #47b8ff;
  --pink: #f38ad2;
   --white: #ffffff;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "poppins", sans-serif;
  color: var(--brun);
  line-height: 1.6;
  min-height: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  background-color: var(--bg);
  border: 3px solid var(--brun);
}

a {
  color: inherit;
  text-decoration: none;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

button,
input,
textarea,
select {
  font: inherit;
}
.new {
  position: absolute;
  top: 169rem;
  text-align: center;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;

  font-family: "poppins", sans-serif;
  font-size: 3rem;
  font-weight: 300;
  text-transform: uppercase;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
