.hero {
  --duration1: 2.5s;
  --duration2: calc(var(--duration1) / 2);
  --delay1: calc(var(--duration2) / 2);
  --delay2: calc(var(--duration2) + var(--delay1));
  --easing: cubic-bezier(0.65, 0.05, 0.36, 1);

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-height: 90vh;
  overflow: hidden;
  padding: 2rem 1rem;
}

.title {
  font-family: "beth-ellen", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: clamp(2.2rem, 8vw, 6rem);
  margin: 1rem 0 2rem;
  color: #514944;

  opacity: 0;
  transform: translateY(3rem);
  animation: loadH1 var(--duration1) var(--easing) var(--delay1) forwards;
}

.heroInner {
  width: 100%;
  max-width: 80rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
  gap: 1rem;
}

.image {
  width: 100%;
  height: auto;
  border-radius: 0.3rem;

  opacity: 0;
  transform: translateY(100%);
  animation: loadImg var(--duration2) var(--easing) var(--delay2) forwards;
}

.textBlock {
  margin-top: 2rem;
  text-align: center;
}

.year,
.scroll {
  font-family: "poppins", sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  font-style: normal;
  opacity: 0;
  transform: translateY(1rem);
  animation: fadeInUp 1s ease forwards;
  animation-delay: calc(var(--delay2) + 1.2s);
  margin: 0.2rem 0;
}

@media (min-width: 700px) {
  .year,
  .scroll {
    font-size: 1.5rem;
  }
}

@media (min-width: 1200px) {
  .year,
  .scroll {
    font-size: 2rem;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(1rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes loadH1 {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }
  30%,
  50% {
    opacity: 1;
    transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes loadImg {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
