.hero {
  position: relative;
  text-align: center;
  min-height: 90vh;
}

.title {
  font-family: "beth-ellen", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3rem;
  z-index: 1000;
  position: relative;
}

.img1,
.img2,
.img3,
.img4 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 60%;
  height: auto;
}

.img1 {
  top: 5%;
}

.img2 {
  top: 30%;
}

.img3 {
  top: 55%;
}

.img4 {
  top: 80%;
}

.year,
p {
  font-family: "poppins", sans-serif;
  margin-top: 16rem;
  font-size: 2rem;
  font-weight: 400;
  font-style: normal;
}

@media (min-width: 700px) {
  .title {
    font-size: 5rem;
  }

  .img1 {
    bottom: 10%;
    left: 5%;
    transform: none;
    width: 15rem;
  }

  .img2 {
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    width: 15rem;
    z-index: 1;
  }

  .img3 {
    top: 10%;
    right: 5%;
    left: auto;
    transform: none;
    width: 15rem;
  }

  .img4 {
    bottom: 10%;
    right: 5%;
    left: auto;
    transform: none;
    width: 15rem;
  }
}

@media (min-width: 1200px) {
  .title {
    font-size: 6rem;
  }

  .img1 {
    bottom: 15%;
    left: 10%;
    width: 18rem;
  }

  .img2 {
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    width: 25rem;
    z-index: 1;
  }

  .img3 {
    top: 5%;
    right: 10%;
    left: auto;
    width: 18rem;
  }

  .img4 {
    bottom: 5%;
    right: 10%;
    left: auto;
    width: 18rem;
  }
}
