

.section {
  background: var(--bg);
  padding: clamp(32px, 5vw, 72px) 20px 80px;
}
.headline {
  font-family: "phudu-variable", sans-serif;
  margin: 0 0 15rem;
  font-weight: 700;
  line-height: 0.9;
  font-size: clamp(64px, 16vw, 220px);
  color: var(--pink
  );
  position: relative;
  left: 5rem;
  z-index: 5;
}

.row {
  position: relative;
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  max-width: 100rem;
  padding-bottom: 17rem;
  margin: 2rem auto;
  z-index: 10;
}
.rev {
  flex-direction: row-reverse;
  
  
 
}

.kicker {
  position: absolute;
top: -80rem;
  left: -10rem;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--brun);
  font-size: 50rem;
  letter-spacing: -0.08em;

 
  font-family: "phudu-variable", sans-serif;
z-index: -1;
  opacity: 0.04 !important; 
  


}
.rev .kicker {
  left: -10rem;
 letter-spacing: -0.08em;
  text-align: right;
}

.img {
  width: 40%;
  max-width: 100%;
  height: auto;

  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.copy {
  max-width: 520px;
  color: var(--brun);
}
.title2 {
  margin: 0 0 12px;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.2;
  font-family: "phudu-variable", sans-serif;
}
.desc, .intro {
  margin: 0 0 18px;
  line-height: 1.65;
  color: var(--brun);
    font-size: 18px;
    font-weight: 600;

}




.cta {
  display: inline-block;
  padding: 0.75rem 0;
  color: var(--brun);
  text-decoration: overline;
  transition: background-color 0.3s;
}

.cta:hover {
  font-weight: 900;
}

/* Mobil */
@media (max-width: 860px) {
  .row {
    flex-direction: column;
    gap: 18px;
  }
  .rev {
    flex-direction: column;
  }
  .kicker {
    position: static;
    margin-bottom: 6px;
    text-align: left;
  }
  .rev .kicker {
    text-align: left;
  }
  .img,
  .copy {
    width: 100%;
    max-width: none;
  }
}
