.introSection {
  display: flex;
  align-items: center;
  padding: 6rem 0 0;
  position: relative;
  width: 100%; /* fylder hele bredden */
  margin: 30rem 0 0;
}
.introText {
  flex: 1;
  padding-left: 10rem; /* skubber teksten lidt ind fra venstre */
  z-index: 2;
}

.introText h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  font-family: "phudu-variable", sans-serif;
}

.introText p {
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 1.5rem;
  max-width: 500px; /* holder styr på linjelængden */
}

.introBtn {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border: 1px solid var(--brun);
  color: var(--brun);
  border-radius: 6px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.introBtn:hover {
  font-weight: 900;
}

.introImage {
  position: relative;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
}

.introImage img {
  height: 230%;
  width: auto;
}
