.projectShowcase {
  padding: 12rem 0rem;
  color: var(--lysbrun);
  margin-top: 0;
}

.projectTitle {
  font-size: 20rem;
  font-weight: 900;
  margin: 0 0 -7rem 0;
  text-transform: uppercase;
  font-family: "phudu-variable", sans-serif;
}

.heroImage img {
  width: 100%;
  max-height: 600px;
  object-fit: cover;
  margin-bottom: 2rem;
}

.introText,
.outroText {
  max-width: 700px;
  margin: 2rem auto;
  font-size: 1.4rem;
  line-height: 1.6;
}

.gallery {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.galleryItem {
  flex: 1 1 calc(25% - 1rem);
  overflow: hidden;
}

.galleryItem img {
  width: 100%;
  height: auto;
  object-fit: cover;
  filter: grayscale(100%);
  transition: filter 0.3s ease;
}

.galleryItem img:hover {
  filter: grayscale(0%);
}
