body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: var(--lysbrun);
  color: var(--pink);
  
}
.projectShowcase {
  padding: 3rem 20rem 8rem 20rem;
  color: var(--brun);
  background-color: var(--bg);

  margin: 0 auto;

}

.projectTitle {
  font-size: 10rem;
  font-weight: 500;
  text-transform: uppercase;
  font-family: "phudu-variable", sans-serif;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
  color: var(--brun);
  letter-spacing: -0.05em;
  line-height: 1;


}

.heroImage img {
  width: 100%;
  max-height: 600px;
  object-fit: cover;
  margin-bottom: 2rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.introText,
.outroText {
  max-width: 700px;
  margin: 2rem auto;
  font-size: 1.4rem;
  line-height: 1.6;
}

.gallery {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.galleryItem {
  flex: 1 1 calc(25% - 1rem);
  overflow: hidden;
}

.galleryItem img {
  width: 100%;
  height: auto;
  object-fit: cover;
  filter: grayscale(100%);
  transition: filter 0.3s ease;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.galleryItem img:hover {
  filter: grayscale(0%);
}
.alle{
  text-align: center;
  padding: 5rem 1rem 9rem;
  display: flex;
  flex-direction: column;


  background-color: var(--bg);
  width: 40%;
  height: 10rem;
  margin: 2rem auto 2rem;

  border-top: 1px solid var(--brun);
}

.alle h3 {
  font-family: "phudu-variable", sans-serif;
  font-size: clamp(2.2rem, 6vw, 4.2rem);
  line-height: 1.05;
  color: var(--pink);
  margin: 0 0 0.6rem 0;
}
.alle a {
text-decoration: overline;
  font-weight: 700;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  font-size: 3rem;
  color: var(--pink);
  padding: 10px 14px;

  transition: all 0.2s ease;
}