/* src/main.css */
body {
  font-family: "Brown-Regular", Arial, sans-serif;
  background: #e93636;
  margin: 0;
  padding: 0;
}

.header {
  background: #222;
  color: #fff;
  padding: 1rem;
  text-align: center;
}
